<article class='post container'>
  <div class='title container page-title'>
    <a href='/post/{{id}}'>{{title}}</a>
    <span><a href='{{post_url}}' target='_blank'>({{format_url post_url}})</a></span>
  </div>
  <div class='text container card-body'>
        {{text}}
  </div class="container card">
    <div class='meta container'>
      {{vote_count}} {{format_plural "point" vote_count }} by {{user.username}} on {{format_date created_at}}
      |
      <a href='/post/{{id}}'>{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>